@use 'variable';

// Responsive
@mixin mini {
  @media screen and (max-width: variable.$mini){
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: variable.$mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: variable.$tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: variable.$laptop) {
    @content;
  }
}

@mixin pc {
  @media screen and (max-width: variable.$pc) {
    @content;
  }
}

//Position
@mixin position($x, $xvalue, $y, $yvalue) {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;
  @if $xvalue == 50% and $yvalue == 50% {
    transform: translate(-50%, -50%);
  }@else if $xvalue == 50% {
    transform: translateX(-50%);
  }@else if $yvalue == 50% {
    transform: translateY(-50%);
  }
}

// Background
@mixin bg($name, $path: '../images/', $format: 'png', $dir: null, $x: null, $y: null, $color: null, $size: null) {
  background: $color url('#{$path}#{$name}.#{$format}') no-repeat $dir $x $y;
  background-size: $size;
}

// Ellipsis
@mixin ellipsis(){
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// IR
@mixin hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}