@use 'variable';

// Responsive
@mixin mini {
  @media screen and (max-width: variable.$mini){
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: variable.$mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: variable.$tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: variable.$laptop) {
    @content;
  }
}

@mixin pc {
  @media screen and (max-width: variable.$pc) {
    @content;
  }
}

//Position
@mixin position($x, $xvalue, $y, $yvalue) {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;
  @if $x == left and $y == top and $xvalue == 50% and $yvalue == 50% {
    transform: translate(-50%, -50%);
  }@else if $xvalue == 50% {
    transform: translate(-50%, 0);
  }@else if $yvalue == 50% {
    transform: translate(0,-50%);
  }
}

@mixin transform($tx: null, $ty: null, $r: null){
  transform: translate($tx, $ty) rotate($r);
}

// Background
@mixin bg($name, $path: '../images/', $format: 'png', $dir: null, $x: null, $y: null, $color: null, $size: null) {
  background: $color url('#{$path}#{$name}.#{$format}') no-repeat $dir $x $y;
  background-size: $size;
}

// Ellipsis
@mixin ellipsis(){
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiellipsis($width, $line){
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;

}

// align
@mixin align($horizental:null, $vertical:null){
  display: flex;
  justify-content: center;
  align-items: center;
  @if ($horizental == 'sb'){
    justify-content: space-between;
  }
  @if ($vertical == 'start'){
    align-items: flex-start;
  }
}

// IR
@mixin hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}