/* font-size */
$purple: #7b3ff1;
$dark-grey: #64696f;
$grey: #9da0a2;
$light-grey: #dddfe2;
$greyf6: #f6f8fb;
$white: #fff;
$black: #333;
$grey5a: #5a5c60;
$grey6f: #6f736f;
$blue: #0064ff;


/* responsive */
$mini: 539px;
$mobile: 768px;
$tablet: 1024px;
$laptop: 1184px;
$pc: 1400px;
