@use '../helper';

.btn {
  &-close {
    @include helper.bg('btn_close', $x: center, $y: center);
    width: 4rem;
    height: 4rem;
  }
  &-more {
    @include helper.bg('bu_arr_right', $x: right);
    padding-right: 1.6rem;
    font-size: 1.5rem;
    color: helper.$dark-grey;
    @include helper.mobile {
      display: block;
      padding: 0;
      line-height: 5.5rem;
      background: none;
      border: 1px solid helper.$light-grey;
      border-radius: 10px;
      text-align: center;
    }
  }
  &-all {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2.5rem;
    border: 1px solid helper.$light-grey;
    border-radius: 2rem;
    line-height: 4.7rem;
    @include helper.mobile {
      display: inline-flex;
    }
    &.active {
      &::before {
        transform: rotate(180deg);
      }
    }
    &::before {
      content: '';
      width: 1.6rem;
      height: 0.9rem;
      @include helper.bg('bu_arr_down', $size: contain);
    }
  }
}
