@use '../helper';

.visual-slide {
  position: relative;
  height: 500px;
  background: helper.$blue;
  &__tit {
    @include helper.hide;
  }
  .swiper-pagination {
    @include helper.position(left, 50%, bottom, 1rem);
    @include helper.pc {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
     }
    @include helper.mobile(){
      display: none;
    }
    display: flex;
    gap: 1.6rem;
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    font-size: 1.4rem;
    color: helper.$grey5a;
    z-index: 10;
    cursor: pointer;
  }
  .swiper-pagination-bullet {
    display: block;
    padding: 1rem 1.8rem;
    text-align: center;
    transition: all 0.8s;
    border-radius: 7px;
    white-space: nowrap;
  }
  .swiper-pagination-bullet-active {
    background: helper.$white;
  }
  .swiper-pagination-mobile {
    @include helper.position(bottom, 1.3rem, right, 2.6rem);
    @include helper.mobile(){
      display: block;
    }
    display: none;
    padding: 0 1.2rem;
    width: 7.6rem;
    height: 3.2rem;
    line-height: 3.2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    font-size: 1.2rem;
    color: helper.$black;
    &::after {
      content: '';
      @include helper.position(right, 1.2rem, top, 50%);
      width: 14px;
      height: 1px;
      background: helper.$black;
    }
    &::before {
      content: '';
      @include helper.position(right, 1.9rem, top, 50%);
      transform: translate(50%, -50%);
      width: 1px;
      height: 14px;
      background: helper.$black;
    }
  }
}

.review-slide {
  .swiper-slide {
    width: 37.8rem;
    padding: 2.4rem;
    background-color: helper.$lightblue;
    border-radius: 12px;
  }
  .review-button-prev, .review-button-next{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
  }
  .review-button-prev {
    @include helper.bg('btn_right', $x: center, $y: center, $color: helper.$white);
    @include helper.position('left', 0, 'top', 17rem);
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    margin-left: -1.75rem;
    box-shadow: 0 -5px 10px  rgba(0, 0, 0, 0.1);
  }
  .review-button-next {
    @include helper.bg('btn_right', $x: center, $y: center, $color: helper.$white);
    @include helper.position('right', 0, 'top', 17rem);
    margin-right: -1.75rem;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.1);
  }
  &__align {
    @include helper.align('sb');
  }
  &__company {
    font-size: 1.5rem;
    color: helper.$grey5a;
  }
  &__service {
    padding: 0.6rem 1rem;
    background-color: helper.$lightpurple;
    border-radius: 4px;
    font-size: 1.5rem;
    color: helper.$purple;
  }
  &__product {
    font-size: 1.8rem;
    font-weight: 700;
    color: helper.$black;
  }
  &__size {
    font-size: 1.4rem;
    color: helper.$grey;
  }
  &__txt {
    @include helper.multiellipsis(100%, 3);
    font-size: 1.5rem;
    color: helper.$black;
    line-height: 2rem;
    height: 6rem;
  }  
}