.mt {
  &10 {
    margin-top: 1rem;
  }
  &12 {
    margin-top: 1.2rem;
  }
  &16 {
    margin-top: 1.6rem;
  }
  &20 {
    margin-top: 2rem;
  }
  &23 {
    margin-top: 2.3rem;
  }
  &35 {
    margin-top: 3.5rem;
  }
  &60 {
    margin-top: 6rem;
  }
  &115 {
    margin-top: 11.5rem;
  }
}

.mb {
  &25 {
    margin-bottom: 2.5rem;
  }
}